# Ignore folders
data/
.vscode/
doc_exp/

# Ignore specific file types
*.zip
*.png
*.jpg
*.txt
*.py

# Ignore any zip, png, jpg, txt, and py files in the current directory (root level only)
/*.zip
/*.png
/*.jpg
/*.txt
/*.py

# If you want to explicitly track a specific file or folder within these directories, use:
# !example-file.txt
# !dataset/keep_this_file.txt
